@import 'colors'

// $thin: 100
// $extra-light: 200
// $light: 300
$regular: 400
$medium: 500
$semi-bold: 600
$bold: 700
// $extra-bold: 800
// $black: 900
// $extra-black: 950

=header-globals()
  font-family: 'Montserrat', sans-serif
  color: white
  line-height: 1.2em

=body-globals()
  font-family: 'Montserrat', sans-serif
  color: white
  line-height: 1.4em

=t-h1()
  +header-globals()
  font-weight: $bold
  font-size: 40px
  letter-spacing: 0.01em
  text-transform: uppercase

=t-h2()
  +header-globals()
  font-weight: $semi-bold
  font-size: 30px

=t-h3()
  +header-globals()
  font-weight: $bold
  font-size: 26px
  letter-spacing: 0.01em

=t-h4()
  +header-globals()
  font-weight: $semi-bold
  font-size: 24px

=t-h5()
  +header-globals()
  font-weight: $semi-bold
  font-size: 20px
  letter-spacing: 0.01em

=t-h6()
  +header-globals()
  font-weight: $semi-bold
  font-size: 18px

=t-subtitle1()
  +header-globals()
  font-weight: $semi-bold
  font-size: 16px

=t-subtitle2()
  +header-globals()
  font-weight: $medium
  font-size: 14px
  letter-spacing: 0.005em

=t-body1()
  +body-globals()
  font-family: 'Open Sans', sans-serif
  font-weight: $regular
  font-size: 16px
  line-height: 2

=t-body2()
  +body-globals()
  font-weight: $regular
  font-size: 14px
  letter-spacing: 0.01em

=t-button()
  +header-globals()
  font-weight: $semi-bold
  font-size: 14px
  letter-spacing: 0.01em

=t-caption()
  +header-globals()
  font-weight: $regular
  font-size: 12px
  letter-spacing: 0.02em

=t-caption-semi-bold()
  +header-globals()
  font-weight: $semi-bold
  font-size: 12px
  letter-spacing: 0.02em

=t-overline()
  +header-globals()
  font-weight: $semi-bold
  font-size: 12px
  letter-spacing: 0.08em
  text-transform: uppercase

=t-micro()
  +header-globals()
  font-weight: $regular
  font-size: 10px
  letter-spacing: 0.02em

.text-logo
  font-size: 28px
  line-height: 1
  font-weight: $semi-bold
